body{
    padding: 0;
    margin: 0;
    width:100%;
    height: 100%;
    overflow: hidden;
}

#content{
    width:100%;
    height: 100%;
}

#content div{
    background: url(../img/bcg_home.jpg);    
    background-size:cover;
    background-attachment: fixed;
    position: fixed;
    /* background: red; */
    //margin-left: -3%;
}